.Lienzo {
  flex: 3;
  background-color: #f0f0f0;
  background-image: 
    linear-gradient(to right, #cccccc 1px, transparent 1px),
    linear-gradient(to bottom, #cccccc 1px, transparent 1px);
  background-size: 20px 20px;  
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
  position: relative;  
}

.items {
  width: 100%;
  height: 100%;
  position: relative;  
}

.dropped-item {
  background-color: #d0f0c0;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  position: absolute;
  cursor: move;  
  z-index: 10; 

}

.oval-shape {
  border-radius: 50%;
  width: 100px;
  height: 50px;
}

.item-name {
  position: absolute;
  top: -20px; /* Ajustar según sea necesario */
  left: 50%;
  font-weight: bold;
  transform: translateX(-50%);
  white-space: nowrap;
}

.connections-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 1;
}

.connection {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1; 
  stroke: black;
  stroke-width: 2;
}

.connection:hover {
  stroke: red;
}

.connection line {
  stroke-width: 2;
}