.Lienzo {
  flex: 3;
  background-color: #f0f0f0;
  background-image: 
    linear-gradient(to right, #cccccc 1px, transparent 1px),
    linear-gradient(to bottom, #cccccc 1px, transparent 1px);
  background-size: 20px 20px;  /* Ajusta el tamaño de la cuadrícula */
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
  position: relative;  /* Esto es importante para posicionar los elementos */
}

.items {
  width: 100%;
  height: 100%;
  position: relative;  /* Asegura que los elementos estén en posición absoluta relativa al lienzo */
}

.dropped-item {
  background-color: #d0f0c0;
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  position: absolute;
  cursor: move;  
  z-index: 10; /* Los elementos del lienzo están al frente */

}
.connection {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none; /* Esto asegura que las conexiones no interfieran con la interacción del usuario */
  z-index: 1; /* Asegura que las líneas estén por encima de otros elementos, si es necesario */
}

.connection line {
  stroke: black; /* Color de la línea */
  stroke-width: 2; /* Ancho de la línea */
}