.Sidebar {
  flex: 1;
  background-color: #ffffff;
  border-left: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.draggable-item {
  background-color: #eee;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  cursor: grab;
}

.headerSidebar {
  display: flex; 
  justify-content: space-around; 
  list-style: none; 
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #f9f9f9;
}

.headerSidebar li {
  flex: 1; 
  text-align: center;
  margin: 0;
}

.headerSidebar a {
  display: block; 
  text-decoration: none;
  color: #333;
  padding: 10px 0;
  border-bottom: 2px solid transparent; 
  cursor: pointer;
  width: 100%;
}

.headerSidebar li.active a {
  background-color: #f0f0f0;
  border-bottom: 2px solid #333; 
}

