.Sidebar {
  flex: 1;
  background-color: #ffffff;
  border-left: 1px solid #ccc;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.draggable-item {
  background-color: #eee;
  border: 1px solid #ccc;
  margin: 10px 0;
  padding: 10px;
  cursor: grab;
}

.headerSidebar {
  display: flex; /* Asegura que las pestañas estén alineadas horizontalmente */
  justify-content: space-around; /* Ajusta la separación entre las pestañas */
  list-style: none; /* Elimina los puntos de la lista */
  padding: 0;
  margin: 0;
  width: 100%;
  background-color: #f9f9f9;
}

.headerSidebar li {
  flex: 1; /* Asegura que las pestañas ocupen el mismo espacio */
  text-align: center;
  margin: 0;
}

.headerSidebar a {
  display: block; /* Necesario para que el ancho y el padding funcionen correctamente */
  text-decoration: none;
  color: #333;
  padding: 10px 0; /* Espacio alrededor del texto */
  border-bottom: 2px solid transparent; /* Línea inferior que se verá en la pestaña activa */
  cursor: pointer;
  width: 100%;
}

.headerSidebar li.active a {
  background-color: #f0f0f0;
  border-bottom: 2px solid #333; /* Resalta la pestaña activa */
}

