.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.App-body {
  display: flex;
  height: 100vh;
}

.buttonHeader {
  margin-left: 20px;
  background-color: #c18b0e;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
}

.Lienzo.connecting-mode {
  cursor: crosshair; 
}

.dropped-item.connecting-mode {
  cursor: crosshair;
}

.loading-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loading-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.output-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.output-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

.simulateLabel {
    font-size: 16px; /* o el tamaño de letra que prefieras */
    font-weight: bold; /* mismo peso que el botón */
    color: #fff; /* mismo color de letra que el botón simulate */
    /* Agrega o ajusta propiedades para que se asemeje al estilo del botón, sin transformarlo en botón */
}