body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f2f5;
}

.neuron-form {
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  overflow-y: auto;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.neuron-form .row {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.neuron-form label {
  font-weight: bold;
  margin-right: 10px;
  width: 150px;
  text-align: left;
}

.neuron-form input,
.neuron-form select {
  width: calc(100% - 12px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
}

.neuron-form .group {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 20px;
}

.neuron-form .group h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.neuron-form .table {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  padding: 5px;
  border-radius: 4px;
}

.neuron-form .table .row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.neuron-form .table .row input {
  width: calc(50% - 12px);
  margin-right: 10px;
}

.neuron-form .table .row .delete {
  padding: 5px 10px;
  background-color: #ff4d4d;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.neuron-form .table .row .delete:hover {
  background-color: #cc0000;
}

.neuron-form .add {
  padding: 5px 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  align-self: center; /* Centrar el botón */
}

.neuron-form .add:hover {
  background-color: #0056b3;
}

.neuron-form .actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.neuron-form .actions .delete {
  padding: 10px 20px;
  background-color: #ff4d4d;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.neuron-form .actions .delete:hover {
  background-color: #cc0000;
}

.neuron-form .actions .save {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.neuron-form .actions .save:hover {
  background-color: #0056b3;
}

.gestionador-container .container {
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  overflow-y: auto;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.gestionador-container .header,
.gestionador-container .population-size,
.gestionador-container .attribute {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: #007bff;
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.header label,
.population-size label,
.attribute label {
  font-weight: bold;
  margin-right: 10px;
  width: 150px; /* Ancho fijo para alinear los textos */
  text-align: left; /* Alinea el texto a la izquierda */
}

.header input,
.population-size input,
.attribute input {
  width: 200px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.header button {
  flex: 1;
  padding: 15px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.header button.active {
  background-color: #0056b3;
}

.header button:hover {
  background-color: #0056b3;
}

.tabs {
  display: flex;
  justify-content: space-around;
  background-color: #007bff;
  border-radius: 0 0 8px 8px;
  margin-bottom: 20px;
}

.tabs button {
  padding: 15px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 10px;
}

.tabs button.active {
  background-color: #0056b3;
}

.tabs button:hover {
  background-color: #0056b3;
}

.gestionador-container .equations,
.gestionador-container .parameters,
.gestionador-container .variables,
.gestionador-container .functions,
.gestionador-container .spike,
.gestionador-container .axon-spike,
.gestionador-container .reset,
.gestionador-container .axon-reset,
.gestionador-container .refractory {
  margin-bottom: 20px;
}

.equations h3,
.parameters h3,
.variables h3,
.functions h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.equations .equation,
.parameters .parameter,
.variables .variable,
.functions .function {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.equations .equation input,
.parameters .parameter input,
.variables .variable input,
.functions .function input {
  width: calc(50% - 10px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.equations .equation button,
.parameters .parameter button,
.variables .variable button,
.functions .function button {
  padding: 5px 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.equations .equation button:hover,
.parameters .parameter button:hover,
.variables .variable button:hover,
.functions .function button:hover {
  background-color: #0056b3;
}

.equations button,
.parameters button,
.variables button,
.functions button {
  padding: 5px 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  align-self: center; /* Centrar el botón */
}

.equations button:hover,
.parameters button:hover,
.variables button:hover,
.functions button:hover {
  background-color: #0056b3;
}

.equations textarea,
.neuron-form textarea {
  width: calc(100% - 12px); /* Ajustar el ancho para que se adapte a la celda */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Incluir el padding y el borde en el ancho total */
  font-size: 16px;
}

.spike label,
.axon-spike label,
.reset label,
.axon-reset label,
.refractory label {
  font-weight: bold;
  margin-right: 10px;
  width: 150px; /* Ancho fijo para alinear los textos */
  text-align: left; /* Alinea el texto a la izquierda */
}

.spike input,
.axon-spike input,
.reset input,
.axon-reset input,
.refractory input {
  width: calc(100% - 160px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.gestionador-container .equation {
  text-align: left;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.equation label {
  display: block;
  margin-bottom: 5px;
}

.equation input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.gestionador-container .tables-container {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.gestionador-container .table-wrapper {
  width: 45%;
  max-height: 300px; /* Altura máxima del contenedor de la tabla */
  overflow-y: auto; /* Habilitar scroll vertical */
}

.gestionador-container .table {
  border: 1px solid #ddd;
  width: 100%;
  text-align: left;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ddd;
}

.table th {
  background-color: #f7f7f7;
  font-weight: bold;
}

.table input {
  width: calc(100% - 12px); /* Ajustar el ancho para que se adapte a la celda */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Incluir el padding y el borde en el ancho total */
}

.table button {
  padding: 5px 10px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.table button:hover {
  background-color: #0056b3;
}

.footer {
  height: 100px;
  border: 2px solid black;
  margin-top: 20px;
  background-color: #eaeaea;
}

.gestionador-container .close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.gestionador-container .close:hover {
  color: red;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  align-self: flex-end;
}

button:hover {
  background-color: #0056b3;
}

.fields-container {
  display: flex;
  justify-content: space-between;
}
